body{
margin:0;
font-family: Arial, Helvetica, sans-serif;

background: linear-gradient(
135deg,
rgba(15,23,42,0.95),
rgba(30,41,59,0.95),
rgba(2,6,23,0.95)
),
url("img/dev-bg.webp");

background-size: cover;
background-position: center;
background-attachment: fixed;

color:white;
text-align:center;
}

/* efeito glow no fundo */

body::after{
content:"";
position:fixed;
bottom:-200px;
right:-200px;
width:400px;
height:400px;
background:#facc15;
filter:blur(200px);
opacity:0.15;
z-index:-1;
}

/* Tipografia */

h1{
font-size:40px;
margin-top:20px;
}

p{
max-width:700px;
line-height:1.7;
}

/* Botões */

button{
background:transparent;
color:#22c55e;
border:2px solid #22c55e;
padding:12px 25px;
cursor:pointer;
font-size:16px;
transition:0.3s;
border-radius:20px;
display:inline-block;
margin:10px;
}

button:hover{
color:white;
background:#22c55e;
transform:scale(1.05);

box-shadow:
0 0 5px #22c55e,
0 0 20px #22c55e,
0 0 40px #22c55e,
0 0 80px #22c55e;
}

/* Foto do dev */

.foto-dev{
display:flex;
justify-content:center;
position:relative;
}

.foto-dev img{
width:160px;
border-radius:50%;

box-shadow:
0 0 15px #22c55e,
0 0 40px #22c55e;
}

.foto-dev::before{
content:"";
position:absolute;
width:250px;
height:250px;

background: radial-gradient(
circle,
rgba(34,197,94,0.2),
transparent 70%
);

filter:blur(40px);
z-index:-1;
}

/* Layout principal */

main{
padding:40px;
}

/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:center;
gap:80px;
margin-top: 40px;



background: radial-gradient(
circle at center,
rgba(34,197,94,0.15),
transparent 60%
);
}

.hero-text{
max-width:500px;
text-align:left;
}

/* Projetos */

.projetos{
margin-top:80px;
}

.projetos-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
margin-top:30px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 10px 20px rgba(0,0,0,0.5);
}

/* Responsividade */

@media (max-width:768px){

.hero{
flex-direction:column;
gap:40px;
}

/* foto primeiro */
.foto-dev{
order:1;
}

/* texto depois */
.hero-text{
order:2;
text-align:center;
}

}